.content-box {
    width: max-content;
    position: relative;
    .rect {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -(4 * $size);
        width: 60%;
        height: 200%;
        border: 3px solid rgba($color: $primary-color, $alpha: 0.5);
    }
}
.content-box:nth-child(2) {
    color: $primary-color;
    .rect {
        border-color: rgba($color: $black-color, $alpha: 0.75);
    }
}
