.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba($color: black, $alpha: 0.3);
    &.show {
        display: block;
    }
}
